@import "tailwindcss";

@theme {
  --font-jetbrains-semiBold: "semiBold", "sanf-serif";

  /* COLORS */
  --color-mineYellow: #F8E7AA;
}

@font-face {
  font-family: 'semiBold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/JetBrainsMono-SemiBold.woff") format("woff");
}

/* Hide default cursor */
@layer base {
  html, body {
    @apply cursor-none;
  }
}